<li style="list-style: none">
  <div class="col-md-11">
    <div class="form-group">
      <div class="fg-line">
        <%= f.text_field :text, class: 'form-control', placeholder: 'Option' %>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <%= link_to_remove_field "X", f %>
  </div>
</li>
